* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #cde8f8;
}
.loader {
  position: relative;
  display: flex;
}
.loader span {
  width: 40px;
  height: 40px;
  margin: 0 15px;
  border-radius: 40px;
  box-shadow: inset -5px -5ps 5px rgba(255, 255, 255, 0.6),
    inset -5px -5ps 5px rgba(0, 0, 0, 0.1);
  animation: animate 7s linear infinite;
}
